<div class="not-found">
  <div class="container not-found-container">
  
    <div class="not-found__content">
      <div class="not-found__content-text">
          <h2 class="not-found__title">Oops...</h2>
          <p class="not-found__subtext">Page not found</p>
          <p class="not-found__text">The page you are looking for doesn’t exist or an
            other error occurred, go back to home page.</p>
          <button mat-stroked-button color="primary" (click)="goToHome()" class="not-found__btn">Go Back</button>
      </div>
      <div class="not-found__content-image">
        <img src="assets/not-found/images/no-connection.png" alt="png">
      </div>
    </div>
  </div>
</div>
