@use 'src/variables' as var;

.task {

  margin-top: 16px;
  &__dates{
    color: var.$gray;
  }

  &__button{
    margin-right: 8px;
  }
  &__footer{
    color: green;
    padding: 16px;
  }

}

.transaction-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.transaction {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 14px 14px 18px;
  background: #F9F9F9;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  &__price{
    position: absolute;
    right: 15px;
    top: 10px;
    & .expense{
      color: var.$app-red;
    }
    & .income{
      color: var.$app-green;
    }
    & p {
      font-family: 'Space Grotesk';
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
    }
  }
  &-dot{
    padding: 10px 5px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
    color: var.$app-gray-lighter;
    display: block;
    margin-bottom: 8px;
    & p{
      margin: 0px;
    }
  }

  &__category{
    width: 157px;
    background: #ECEDED;
    padding: 17px 10px 22px ;
    border-radius: 10px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-right: 21px;
    & p {
      margin: 0;
      color: #373737;
    }
  }

  &__title{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #373737;
  }

  &__info {
    display: flex;
    gap: 5px;
    &-detail{
      display: flex;
      align-items: center;
      font-family: 'Space Grotesk';
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
    }
  }

  &__type{
    display: flex;
    align-items: center;
    &-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      color: #fff;
      &.expense{
        background: var.$app-red;
      }
      &.income{
        background: var.$app-green;
      }
    }
    &-text{
     text-transform: capitalize;
    }
  }
}

