<div class="transaction__container">
  <app-search (searchValue)="onSearch($event)"></app-search>

<div class="transaction-wrapper">
  <div class="sort-section">
    <button mat-raised-button (click)="switchSortByDate = !switchSortByDate">Sort By Date</button>
  </div>
  <p *ngIf="!account">Please select or create account</p>
  <mat-card  class="transaction" *ngFor="let transaction of transactions | transactionSelect: transactionSelType | searchByTitle: searchValue | sortByDate: switchSortByDate" (click)="onSelect(transaction)">
    <div class="transaction__category">
      <p>{{transaction.categories[0]}}</p>
    </div>
    <div class="transaction__content">
      <mat-card-title class="transaction__title"> {{transaction.title}}</mat-card-title>
      <div class="transaction__info">
        <span class="transaction__type">
          <span class="transaction__type-icon" [ngClass]="transaction.type === 'expense' ? 'expense': 'income'">
            <mat-icon>{{transaction.type === 'expense' ? 'arrow_upward': 'arrow_downward' }}</mat-icon>
          </span>
        </span>
        <span class="transaction__info-detail">
          <span class="transaction__type-text">{{transaction.type}}</span>
        <span class="transaction-dot">.</span>
        <span> {{transaction.date_of_operation | date:'dd.MM.YYYY'}}</span>
        <span class="transaction-dot">.</span>
        <span class="transaction__payee">{{transaction.payee}}</span>
        </span>
      </div>
    </div>

    <div  class="transaction__price" >
     <p [ngClass]="transaction.type === 'expense' ? 'expense': 'income' ">
       {{transaction.amount | currency:'symbol': account.sign}}
      </p>
    </div>
  </mat-card>
</div>
</div>
