<div class="accounts__wrapper">
  <p *ngIf="!accounts.length">No accounts</p>
  <mat-card class="account"
   *ngFor="let account of accounts; let i = index"
   (click)="onSwitchAccount(account)"
     [ngClass]="[activeAccount._id === account._id ? 'active': '']">
    <mat-card-content>
      <mat-card-title class="account__title"> {{account.title}}</mat-card-title>
      <p class="account__balance">{{account.balance | currency:'symbol':''}}</p>
    </mat-card-content>
    <div class="account__label">
      <span>{{account.sign}}</span>
    </div>
  </mat-card>
</div>
